body {
    padding: 0 10%;
}

h1 {
    text-align: center;
    border-bottom: 1px solid #EEE;
}

#content {
    font-size: 150%;
}

.instructions ul {
    padding: 0;
}

.instructions li {
    display: block;
    cursor: pointer;
    padding: 10px;
    list-style-type: none;
    font-family: monospace;
    transition: background 0.3s;
}

.block-link {
    display: block;
    color: initial;
    text-decoration: none;
}

.instructions li:hover,
.instructions li:active {
    background: #EEE;
}
