body {
    padding: 0 5%;
}

header {
    border-bottom: 1px solid #EEE;
}
header h1 {
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}

#content {
    font-size: 150%;
}

code {
    line-height: 1.5em;
}

table {
    font-size: inherit;
    border-collapse: collapse;
}

th, td {
    padding: 5px 15px;
    border: 1px solid #EEE;
}

h3 {
    font-weight: normal;
    background: #EEE;
    margin: 0;
    padding: 0.5em;
}

.instructions ul {
    padding: 0;
    margin: 0.5em;
}

.instructions li {
    display: block;
    padding: 10px;
    list-style-type: none;
    font-family: monospace;
    transition: background 0.3s;
}

.instructions li:hover,
.instructions li:active {
    background: #EEE;
}

.block-link {
    display: block;
    color: initial;
    text-decoration: none;
}
